<div class="container" ng-controller="MainController as mainCtrl">
    <form class="form-group">
        <label>Pick a date</label>
        <input class="form-control" type="datetime"/>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="lightChart"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="dhtChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="pirChart"></canvas>
        </div>
    </div>
</div>
