<div class="container" ng-controller="MainController as mainCtrl">
    <h2>main.html</h2>
    <a ng-href="#/sensorData">sensor data</a>
    <a ng-href="#/addRoom">add room</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>id</td>
            <td>room name</td>
            <td>floor</td>
            <td>device</td>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in mainCtrl.data">

            <td>{{item.room.id}}</td>
            <td>{{item.room.name}}</td>
            <td>{{item.room.floor}}</td>
            <td>{{item.room.device}}</td>
            <td>
                <a class="btn btn-primary" ng-href="#/roomData/{{item.room.id}}">inspect</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
