<div class="container" ng-controller="RoomController as roomCtrl">
    <section class="row">
        <h2>Room ID: {{roomCtrl.id}}</h2>
        <p>Last modified: <span ng-bind="roomCtrl.date | date:'MM/dd/yyyy HH:mm:ss'"></span></p>

        <div class="form-group">
            <label>Room Name</label>
            <input name="location" type="text" class="form-control" ng-model="roomCtrl.name"/>
        </div>
        <div class="form-group">
            <label>Device</label>
            <input type="text" class="form-control" ng-model="roomCtrl.device"/>
        </div>
        <div class="form-group">
            <label>Floor</label>
            <input type="text" class="form-control" ng-model="roomCtrl.floor"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea rows="5" class="form-control" ng-model="roomCtrl.description"></textarea>
        </div>
        <input type="button" ng-click="roomCtrl.putRoom(); roomCtrl.updateParticle();" class="btn btn-primary" value="update"/>
        <input type="button" ng-click="roomCtrl.deleteRoom()" class="btn btn-danger" value="delete"/>

    </section>

    <h2>Sensor Data:</h2>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <canvas id="lightChart"></canvas>
        </div>
        <div class="col-xs-12 col-md-6">
            <canvas id="dhtChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <canvas id="pirChart"></canvas>
        </div>
        <div class="col-sm-6 col-md-6">
            <canvas id="coChart"></canvas>
        </div>
    </div>

    <div class="col-xs-12" id="downloadContainer">
        <input type="button" class="btn btn-primary btn-lg btn-block" value="Get all sensor data" ng-click="roomCtrl.downloadData()" />
    </div>
</div>